@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'SequentialistBB';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    font-family: SequentialistBB, cursive;
    font-size: 1.5rem;
    margin: 0;
    position: relative;
    padding-top: 5rem;
    overflow: hidden;
}

section {
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: flex-end; */
    font-size: 2rem;
    /* position: relative; */
    /* justify-content: center;
    align-content: center; */
}

section {
    /* padding: 3rem; */
}

section img {
    height: 20rem;
    position: absolute;
    top: 90px;
    right: -50px;
}

section:nth-of-type(1) {
    /* background: #d52b21; */
}

section:nth-of-type(2) {
    /* background: #fff; */
}

section:nth-of-type(3) {
    /* background: #0388fe; */
}

blockquote.bubble {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    /* margin: 0 auto; */
    text-align: center;
    height: 0;
    box-sizing: content-box;
    line-height: 1;
    top: 0;
    right: 0;
}

blockquote.speech {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
    width: 30%;
    transform: translate(-85px, -95px) rotateY(180deg) rotate(20deg);
    padding-top: 3%;
    padding-bottom: 15%;
}

blockquote.speech em {
    transform: rotateY(180deg);
    position: absolute;
    font-size: 1.5rem;
    width: 96%;
    right: 0;
}

blockquote.whisper {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/whisper.svg);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    color: #ccc;
    text-align: center;
    height: 0;
    box-sizing: content-box;
    line-height: 1;
    top: 0;
    right: 0;
}

blockquote.whisper {
    width: 30%;
    transform: translate(35px, -100px) rotateY(0deg) rotate(-20deg);
    padding-top: 3%;
    padding-bottom: 15%;
}

blockquote.whisper em {
    transform: rotateY(0deg);
    position: absolute;
    font-size: 1.5rem;
    width: 89%;
    top: 3rem;
    right: 6%;
}

blockquote.electric {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100%;
    text-align: center;
    height: 0;
    box-sizing: content-box;
    line-height: 1;
    top: 0;
    right: 0;
    font-style: italic;
}

blockquote.electric {
    width: 30%;
    transform: translate(-85px, -95px) rotateY(0deg) rotate(0deg);
    padding-top: 3%;
    padding-bottom: 15%;
}

blockquote.electric em {
    transform: rotateY(0deg);
    position: absolute;
    font-size: 1.3rem;
    width: 67%;
    left: 30px;
}