* {
  box-sizing: border-box;
}

.login-page, .game-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.game-page {
  width: calc(100vw - 100px);
  padding: 8% 0 0;
  margin: auto;
}

.form, .game-page {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: calc(100vw - 100px);
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input { 
  font-family: 'Open Sans', sans-serif;  outline: 0;
  background: #f2f2f2;
  width: 100%;  
  border: solid 2px #c9c9c9;
  transition: border 0.3s;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

input:focus { 
  border: 2px solid lightblue;
}

#submit-btn, #submit-btn {
  text-transform: uppercase;
  background:linear-gradient(to bottom, #f9f9f9 5%, #d9d9d9 100%);
  background-color:#f9f9f9; 
  border:2px solid #dcdcdc;  
  display:inline-block;
  cursor:pointer;
  color:#666666; 
  font-size:16px;
  padding:10px 50px;
  border-radius:5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  outline: 0;
}

#submit-btn:hover { 
    background:linear-gradient(to bottom, #d9d9d9 5%, #f9f9f9 100%);	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#f9f9f9',GradientType=0);
    background-color:#d9d9d9; 
}

#submit-btn:active {
    position:relative;
    top:1px; 
}

#submit-btn {
  text-shadow: none;
  color: white;
  border: 2px solid #4cad51; 
  background: linear-gradient(to bottom, #51c255 5%, #43a048 100%);
  background-color: #51c255;
}


#submit-btn:hover {
    background:linear-gradient(to bottom, #43a048 5%, #51c255 100%);
    background-color:#43a048;
  }
  
body {
  background-image: url("http://www.imogap.org/graphics/bg_sand.png");  
  /** background-color:#4d4d50; **/
  font-family: 'Open Sans', sans-serif;
}

#imogaplogo img{
  padding-bottom:10px;
  margin-top:-20px; 
}
 

/*Progress*/

body { 
font-family: "Helvetica Neue", arial, sans-serif;
}

h1 {
font-size: 2em;
font-weight: 800;
}

h3 { font-size: 1.5em; }

progress, progress[role] {
  position: absolute;
  border: none;
  background-size: auto;
  height: 35px;
  width: 50%;
  left: 8rem;
  z-index: -1;
}

.player-list {
list-style: none;
margin: 0;
padding: 1em;
}

.player {
margin-bottom: 1em;
position: relative;
}
  h3 {
  color: black;
  left: 4em;
  line-height: 1;
  position: absolute;
  top: -1em;
}

h3::-webkit-progress-value { 
  animation: bar-fill 2s;
  width: 0px;
}

.progress::-webkit-progress-value {
background: #ff9e2c;
}

@-webkit-keyframes bar-fill {
0% { width: 0; }
}

@keyframes bar-fill {
0% { width: 0; }
}

#game-text {
  width: 80%;
}

p {
width: 75%;
margin: 2rem auto;
}

.race {
display: none;
margin: 2rem auto;
}

.timer {
display: none
}

.correct-word {
color: green;
}

.current-word {
text-decoration: underline;
}